body{
 font-size: 62.5%;
 color:black;
 background-color: #efefF0;
}

.container{
    display: flex;
    width: 100%;
    height: 800px;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
}

#velha{
    margin:0 auto;
    width: 606px;
    height: 606px;
}


#topo{
    background-image: url("../img/toponovo.png");
    width: 606px;
    height: 117px;
}

#corpo{
    /*background-image: url("../img/topo.png");*/
    width: 606px;
    height: 356px;
}


#latesq{
    float:left;
    background-image: url("../img/latesq.png");
    width: 98px;
    height: 356px;
}

#centro{
    float:left;
    /* background-image: url("../img/centro.png"); */
    width: 406px;
    height: 351px;
}

#latdir{
    float:left;
    background-image: url("../img/latdir.png");
    width: 98px;
    height: 356px;
}

#casa0,#casa1,#casa2,#casa3,#casa4,#casa5,#casa6,#casa7,#casa8{    
    width: 91px;
    height: 91px;
    background-image: url('../img/casafundo.png');
    float:left;
    font-size: 90px;
    color: blue;
    text-align: center;
    cursor: pointer;
    padding: 5px;
    margin-left: 27px;
    margin-top: 12px;
    border: 3px solid white;
}

#casa0:hover,#casa1:hover,#casa2:hover,#casa3:hover,#casa4:hover,#casa5:hover,#casa6:hover,#casa7:hover,#casa8:hover{
   background-image: url('../img/botaoplay.jpg');
}

#rodape{
    background-image: url("../img/rodape.png");
    width: 606px;
    height: 117px;
}