*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
 font-size:30px;
 background-image: url('../img/bck-layout.png');
 background-color: #efefF0;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
}

header{
    width: 600px;
    height: 175px;
}

.brand{
    width: inherit;
    height: 115px; 
}

nav{
    display: flex;
    width: inherit;
    height: 60px; 
    border: 1px solid white;
}

.menu-time,
.menu-score,
.menu-lives{
    display: flex;
    width: 33%;
    height: 60px;
    padding: 5px;
    border: 1px solid white;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
}


main{
    width: 606px;
    height: 600px;
    border: 1px solid white;
}


#centro{
    display: flex;
    flex-wrap: wrap;
    margin:0 auto;
    width: 606px;
    height: 606px;
    justify-content: space-around;
    background-image: url('../img/bck-buttons.png');
}

#dv0,#dv2,#dv3,#dv4,#dv5,#dv6,#dv7,#dv8,#dv1{    
    width: 32%;
    height: 32%;
    cursor: pointer;
    margin: 2px;
    border-radius: 10px;
    /* background-image: url('../img/ralphinativo.png'); */

}

#corpo{
    /*background-image: url("../img/topo.png");*/
    width: 606px;
    height: 356px;
}

footer{
    background-image: url("../img/rodape.png");
    width: 606px;
    height: 117px;
}