* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 30px;
    background-image: url('../img/fundo.png');
    font-weight: 700;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
}

header {
    display: flex;
    width: 1240px;
    height: 80px;
    border: 1px solid white; 
}

.brand {
    width: inherit;
    height: 80px;
}

.title {
    display: flex;
    width: 880px;
    height: 80px;
    background-image: url('../img/bck-buttons.png');
}

main {
    width: 1240px;
    height: 610px;
    border-radius: 10px;
    border: 1px solid white;
}


#centro {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 606px;
    height: 606px;
    justify-content: space-around;
    background-image: url('../img/bck-buttons.png');
}

#dv0,
#dv2,
#dv3,
#dv4,
#dv5,
#dv6,
#dv7,
#dv8,
#dv1 {
    width: 32%;
    height: 32%;
    cursor: pointer;
    margin: 2px;
    border-radius: 10px;
}

#corpo {
    width: 606px;
    height: 356px;
}

footer {
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-image: url("../img/bck-black.png");
    width: 606px;
    height: 117px;
    border-radius: 10px;
    border: 2px solid #1ce09c;
}