* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 30px;
    background-image: url('../icons/fundo2.png');
    font-weight: 700;
}

.container {
    margin:0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

header {
    display: flex;
    width: 1240px;
    height: 80px;
    background-image: url('../img/bck-black.png');
    border-bottom: 2px solid white;
}

header h1{
    font-size: 36px;
}

span{
    font-size: 14px;
    line-height: none;
    font-weight: 400;
    text-transform: uppercase;
    padding-left: 10px;
    height: 80px;
}

.brand {
    width: inherit;
    height: 80px;
    padding: 10px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 20px;
    width: 880px;
    height: 80px;    
}

main {
    display: flex;
    width: 1240px;
    height: 800px;
    border-radius: 10px;
    background-image: url('../img/bck-black.png');
}

aside{
    width: 180px;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
}

.player1,
.card-info{
    background-image: url('../rpg/fundop1.png');
}



.player2,
.card-info1{
    background-image: url('../rpg/fundop2.png');
}

.player1,
.player2{
    background-image: url('../../assets/img/bck-cards.png');
}

.centro {
    display: flex;
    flex-direction: column;
    width: 950px;
    height: 606px;
    justify-content: space-around;
    background-image: url('../img/bck-black.png');
}

.centro h1{
    font-size: 30px;
    text-transform: uppercase;
}

.centro-cards {
    display: flex;
    width: inherit;
    height: 402px;
    justify-content: space-around;
    background-image: url('../img/bck-black.png');
}

.timer{
    width: inherit;
    padding-top: 10px;
    height: auto;
    text-align: center;
    background-image: url('../img/bck-black.png');
}

.time h1{
    background-image: url('../img/bck-black.png');
}

.centro-footer {
    display: flex;
    width: inherit;
    height: 202px;
}

#p1card1,
#p1card2,
#p1card3,
#p1card4,
#p1card5,
#p2card1,
#p2card2,
#p2card3,
#p2card4,
#p2card5
{
    width: 100px;
    height: 130px;
    cursor: pointer;
    margin: 2px;
    border-radius: 10px;
    background-image: url('../icons/cardgreen.png');
    background-repeat: no-repeat;
    background-size: 100%;
}


#p2card1,
#p2card2,
#p2card3,
#p2card4,
#p2card5{
    background-image: url('../icons/cardblue.png');
}

.board{
    display: flex;
    width: 98%;
    height: auto;
    justify-content: space-around;
    align-items: center;
}

#board-card1-win,
#board-card2-win
{
    display: flex;
    width: 50px;
    height: auto;
    justify-content: center;
    align-items: center;
}

#board-card1,
#board-card2
{
    width: 177px;
    height: 228px;
    cursor: pointer;
    padding: 3px;
    margin: 2px;
    border-radius: 10px;
    background-image: url('../icons/dragon.png');
    background-position: center;
}

.logo-center{
    display: flex;
    width: 160px;
    height: 60%;
    align-items: center;
    margin: 5px;   
}

.logo-center img{
    width: 100%;
}

.centro-footer{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 220px;
    background-image: url('../img/bck-black.png');
}   

.card-info,
.card-info1{
    display: flex;
    flex-direction: column;
    width: 48%;
    height: 400px;
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
}

.card-info-descricao{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 275px;
    text-align: center;
    /* border: 2px solid #3d6c90; */
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 10px;
    background-image: url('../../assets/img/bck-black.png');
}

.card-info-placar{
    display: flex;
    width: 100%;
    height: 100px;
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
    background-image: url('../../assets/img/bck-black.png');
}

.card-info-descricao-title h3,
.card-info-descricao-option h3
{
    font-size: 14px;
}

.card-info-descricao-card img{
    width: 80%;
    height: auto;
    cursor: pointer;
}



footer {
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-image: url("../img/bck-black.png");
    width: 1240px;
    height: 100px;
    border-radius: 10px;
    border-top: 2px solid white;
}

footer img{
    width: 50px;
}
.agradecimento{
    width: 600px;
    height: 80px; 
}

.socialmedia{
    display: flex;
    width: 640px;
    height: auto; 
    justify-content: space-around;
    align-items: center;
}

.placarp1,
.placarp2{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}