* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 30px;
    background-image: url('../img/fundo.png');
    font-weight: 700;
}

.container {
    margin:0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

header {
    display: flex;
    width: 1240px;
    height: 80px;
    border: 1px solid white; 
}

.brand {
    width: inherit;
    height: 80px;
}

.title {
    display: flex;
    width: 880px;
    height: 80px;
    background-image: url('../img/bck-buttons.png');
}

main {
    display: flex;
    width: 1240px;
    height: 610px;
    border-radius: 10px;
    border: 1px solid white;
}

aside{
    width: 180px;
    height: 606px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid white;
}

.centro {
    display: flex;
    flex-direction: column;
    width: 950px;
    height: 606px;
    justify-content: space-around;
    background-image: url('../img/bck-buttons.png');
}

.centro-cards {
    display: flex;
    width: inherit;
    height: 402px;
    justify-content: space-around;
    background-image: url('../img/bck-layout.png');
}

.centro-footer {
    display: flex;
    width: inherit;
    height: 202px;
    justify-content: space-around;
    background-image: url('../img/bck-buttons.png');
}

#p1card1,
#p1card2,
#p1card3,
#p1card4,
#p1card5,
#p2card1,
#p2card2,
#p2card3,
#p2card4,
#p2card5
{
    width: 90px;
    height: 30%;
    cursor: pointer;
    margin: 2px;
    border-radius: 10px;
    border: 2px solid white;
    background-image: url('../icons/card-back.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

#p1card1,
#p1card2,
#p1card3,
#p1card4,
#p1card5{
    border-color: aqua;
}

#p2card1,
#p2card2,
#p2card3,
#p2card4,
#p2card5{
    border-color: coral; 
}

.board{
    display: flex;
    width: 50%;
    height: auto;
    justify-content: center;
    align-items: center;
}

#board-card1,
#board-card2
{
    width: 160px;
    height: 60%;
    cursor: pointer;
    margin: 2px;
    border-radius: 10px;
    border: 2px solid white; 
}

.logo-center{
    display: flex;
    width: 160px;
    height: 60%;
    align-items: center;
    margin: 5px;   
}

.logo-center img{
    width: 100%;
}



footer {
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-image: url("../img/bck-black.png");
    width: 1240px;
    height: 80px;
    border-radius: 10px;
    border: 2px solid #1ce09c;
}

footer img{
    width: 50px;
}