* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 30px;
    background-image: url('../img/fundo2.png');
    font-weight: 700;
}

button{
    width: 150px;
    height: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    background-image: url('../img/bck-buttons.png');
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    padding: 10px;    
}

header {
    display:flex;
    width: 800px;
    height: 115px;
    border-bottom: 1px solid white; 
    background-image: url('../img/bck-black.png');

}

.brand {
    margin-left: 80px;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 100px;
}

.brand img{
    width: 400px;
    height: auto;
}

.title-game {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 15px;
    width: 600px;
    height: 60px;   
    padding-top: 30px; 
}



main {
    width: 800px;
    height: 800px;
    border-radius: 10px;
}


#centro {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 800px;
    height: 800px;
    padding-top: 5px;
    transform-style: preserve-3d;
    perspective: 500px;
    justify-content: space-around;
    background-image: url('../img/bck-black.png');
}

#dv0,
#dv2,
#dv3,
#dv4,
#dv5,
#dv6,
#dv7,
#dv8,
#dv1,
#dv10,
#dv9,
#dv11,
#dv12,
#dv13,
#dv14,
#dv15
 {
    width: 190px;
    height: 190px;
    cursor: pointer;
    gap: 2px;
    border-radius: 10px;
    background-image: url('../img/CARDBACK.png'); 
    text-align: center;
    padding: 40px;
    font-size: 5rem;
    /* transform: rotateY(180deg); */
   /* transition: 0.25s; */
}

#dv0::after,
#dv2::after,
#dv3::after,
#dv4::after,
#dv5::after,
#dv6::after{
    content: "";
    inset: 0;
    /* background-image: url('../img/cardfront.png');; */
}

#corpo {
    width: 606px;
    height: 356px;
}

footer {
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-image: url("../img/bck-black.png");
    width: 800px;
    height: 117px;
    border-radius: 10px;
    border: 2px solid #1ce09c;
}

.button-game{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 117px; 
}

.redesocial{
    width: 600px;
    height: 117px; 
}

.socialmedia-logo img{
   width: 70%;
   height: auto;
}