* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 30px;
    background-image: url('../img/fundo.png');
    font-weight: 700;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;    
}

header {
    display: flex;
    width: 480px;
    height: 40px;
    border: 10px; 
    border-radius: 10px 10px 0 0;
    background-image: url('../img/bck-black.png');
}

.brand {
    width: 120px;
    height: auto;
}

.brand img {
    width: 100px;
    height: auto;
    margin-left: 10px;
}

.volume {
    display: flex;
    width: 260px;
    height: inherit;
    justify-content: center;
    align-items: center;
}

.teclas {
    display: flex;
    width: 180px;
    height: inherit;
    justify-content: center;
    align-items: center;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

main {
    width: 480px;
    height: auto;
    padding-top: 10px;
    border-radius: 0 0 10px 10px;
    margin-bottom: 10px;
    background-image: url('../img/bck-black.png');
}


#centro {
    display: relative; 
    margin: 0 auto;
    width: 450px;
    height: 250px;
    padding-left: 15px;
    border-radius: 0 0 10px 10px;
    background-image: url('../img/bck-black.png');
}

#keyc,
#keyd,
#keye,
#keyf,
#keyg,
#keya,
#keyb
   {
    position: relative;
    float: left;
    width: 60px;
    height: 230px;
    cursor: pointer;
    border: solid 1px black;
    border-radius: 0 0 10px 10px;
    background-image: url('../img/bck-buttons.png');
}

.maiorkey{
    width: inherit;
    position: relative;
}

#maiorkeyc,
#maiorkeyd,
#maiorkeyf,
#maiorkeyg,
#maiorkeya
{
    position: absolute;
    top: 0;
    left: 40px;
    width: 40px;
    height: 160px;
    margin: 0;
    cursor: pointer;
    /* border: solid 2px black; */
    border-radius: 0 0 10px 10px;
    background-image: url('../img/bck-black.png');
}

#maiorkeyd
{
  left: 100px;
}

#maiorkeyf
{
  left: 220px;
}

#maiorkeyg
{
  left: 280px;
}

#maiorkeya
{
  left: 340px;
}


#corpo {
    width: 606px;
    height: 356px;
}

footer {
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-image: url("../img/bck-black.png");
    width: 606px;
    height: 117px;
    border-radius: 10px;
    border: 2px solid #1ce09c;
}